/* blurb at top of page */
.blurb-container {	
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  font-size: calc(0.1em + 1vmin);
  font-family: 'Trebuchet MS', sans-serif;
  padding: 25px;
}

/* blurb above dreams photos */
.dreams-text-container {
  justify-content: center;
  text-align: center;
  padding: 25px;
}

p {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: calc(0.75em + 1vmin);
}

.body {
  overflow: hidden;
}

/* BUTTONS */

.modal-button {
  background-color: transparent;
  font-family: 'Trebuchet MS', sans-serif;
  color: black;
  border-radius: 12px;
  font-weight: bold;
  font-size: calc(0.75em + 1vmin);
  height: 50px;
  border: 0px;
  margin: auto;
  text-align: center;
  text-decoration:none;
  display: inline-flex;
  align-items: center;
  min-width: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.Dreams {
  background: rgba(255, 255, 255, 0.1);
  color:#000066;
}

.Dreams:hover {
  background-color: #3498DB;
  color: white;
}

.Design {
background: rgba(60, 179, 113, 0);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: calc(1em + 1vmin);
  color: #330000;
}

.Design:hover {
  background-color: #4CAF50;
  color: white;
}

.Strengths {
  background: rgba(78, 46, 0, 0);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: calc(1em + 1vmin);
  color: #331100;
}

 .Strengths:hover {
  background-color: #cc8800;
  color: white;
}

.Essence {
  background: rgba(78, 46, 0, 0.1);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: calc(1em + 1vmin);
  color: #dcc7bc;
}

.Essence:hover {
  background-color: #A66E64;
  color:black;
}

/* contains all elements - clouds, tree, & ground */
.container-tree {
  background-size: cover;
  background: #ccd9ff;
  margin: 0 auto;
  max-width: 1200px;
}

/* contains sun + clouds */
.sky {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}

/* reduce number of clouds per row on smaller screens */
@media (max-width: 600px) {
  .sky { grid-template-columns: repeat(2, 1fr); } /* 2 clouds per row */
}

@media (min-width: 601px) {
  .sky { grid-template-columns: repeat(4, 1fr); } /* 4 clouds per row */
}

.sun {
  background-image: url("/static/images/sun.png");
  background-size: cover;
  background-size: 100% 100%;
  color: black;
  padding: 1rem;
  height: 8rem;
}

.cloud {
  background-image: url("/static/images/cloud.png");
  background-size: cover;
  background-size: 100% 100%;
  padding: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* contains tree (branches & trunk) */
.tree {
  background-image: url("/static/images/tree.png");
  background-size: cover;
  background-size: 100% 100%;
  min-height:800px;
  max-width:800px;
  margin: 0 auto;
  opacity: 0.9;
}

/* contains branches of tree only (not trunk) */
.branches {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  min-height:500px;
}

/* fewer columns of design/branch items on smaller screens */
@media (max-width: 600px) {
  .branches { grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    	padding-top: 2em;  }
}

@media (min-width: 601px) {
  .branches { grid-template-columns: repeat(3, 1fr); /* 3 items per row */
	padding-top: 6em;  }
  .cloud {
	min-height:100px; }
}

.branch {
  color: black;
  height: 2rem;
  display: grid;
  justify-content: center;
  opacity: 1; /* parent has lower opacity */
}

.trunk {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 items per row */
}

.trunk-item-left {
  color: black;
  padding: 1rem;
  height: 2rem;
  display: grid;
  justify-content: left;
  opacity: 1;
}

.trunk-item-right {
  color: black;
  padding: 1rem;
  height: 2rem;
  display: grid;
  justify-content: right;
  opacity: 1;
}

.ground{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  background-image: url("/static/images/ground.png");
  background-size: cover;
  min-height:200px;
  opacity: 0.9;
}

/* reduce number of items per row on smaller screens */
@media (max-width: 600px) {
  .ground { grid-template-columns: repeat(2, 1fr); /* 2 items per row */
	padding-top: 2em; }
}

@media (min-width: 601px) {
  .ground { grid-template-columns: repeat(3, 1fr); /* 3 items per row */
	padding-top: 6em;
	padding-left: 4em;
	padding-right: 4em; }
}

.ground-item {
  color: black;
  padding: 1rem;
  height: 2rem;
  display: grid;
  justify-content: center;
  opacity: 1;
  min-height: 100px;
}

/* subtheme - clickable header  - would expand accordion if 3 levels */
.accordion {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: calc(1em + 1vmin);
  background-color: #00aba2;
  color: #444; /* text colour */
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}

/* for WDHB values functionality - not yet built */
.with-compassion {
  background-color: #bf74af;
}

.everyone-matters {
  background-color: #f7941d;
}

.connected {
  background-color: #3bc2e1;
}

.better-best-brilliant {
  background-color: #a5cb40;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: 'Trebuchet MS', sans-serif;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* modal box/content */
.modal-content {
  background-color: #fefefe;
  font-family: 'Trebuchet MS', sans-serif;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  font-size: calc(1em + 1vmin);
}

/* modal occupies most of screen on mobile but not on desktop */
@media (max-width: 600px) {
  .modal-content {  width: 80%; }
}

@media (min-width: 601px) {
  .modal-content {  width: 33%; }
}

/* close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* buttons linking to other trees */
.link-btn {
  background-color: #00aba2;
  color: white;
  font-size: calc(0.75em + 1vmin);
  margin: 30px; /* gap between */
  padding: 1rem;
  min-height: 50px;
  min-width: 400px;
  font-family: 'Trebuchet MS', sans-serif;
}

.links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

/* each individual image */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: auto;
  height: 300px;
}

* {
  box-sizing: border-box;
}

.gallery-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 50px;
}

.responsive {
  padding: 0 6px;
  float: left;
  height: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive { height: 49.99999%;
   	margin: 6px 0; }
}

@media only screen and (max-width: 500px) {
  .responsive { height: 100%; }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
