{% macro create_button(class, a_class, theme, theme_dict) %}
 <div class={{class}}><a class="{{a_class}}" href="#close">{{theme}}</a></div>
    <div class="modal">
    <div class="modal-content">
    <span class="close">&times;</span>
    <button class="accordion">{{theme}}</button>
    <ul>
    {% for sub in theme_dict[theme] %}
        {% if (sub != '') and (sub != theme) %}
            <li>{{sub}}</li>
        {% endif %}
    {% endfor %}
    </ul>
    </div> <!-- end modal-content -->
</div> <!-- end modal -->
{% endmacro %}


<!--- Creates theme buttons and corresponding modals for all phases except Strengths -->
{% macro create_buttons(class, phase, theme_dict) %}
{% for theme in theme_dict %}
    {% set a_class = "btn modal-button " ~ phase %}
    {% if theme != '' %}
       {{create_button(class, a_class, theme, theme_dict)}}
    {% endif %}
{% endfor %}
{% endmacro %}


<!-- Creates theme buttons and corresponding modals for Strengths items -->
{% macro strengths_themes(theme_dict, values_dict) %}
{% for theme in theme_dict %}
    {% set a_class = "btn modal-button Strengths" %}
    {% if loop.index0 % 2 == 0 %}
        {% set class = "trunk-item-right" %}
    {% else %}
        {% set class = "trunk-item-left" %}
    {% endif %}
    {% if theme != '' %}
       {{create_button(class, a_class, theme, theme_dict)}}
    {% endif %}
{% endfor %}
{% endmacro %}


<!-- Creates links to other trees -->
{% macro links_menu(filenames) %}
{% for filename in filenames %}
  <a class="link-btn" href="/forest?tree={{filename}}">{{filename}}</a>
{% endfor %}
{% endmacro %}
